In [1]:
import pandas as pd
from sklearn import preprocessing

In [2]:
df = pd.read_csv('normalize.csv')

df

      A   B     C
0  1000  10  0.50
1   765   5  0.35
2   800   7  0.09

### Normalization, vanilla Python

In [3]:
"""
Manual normalization
Get it between 0 and 1
"""
def normalize(value, min, max):
    # What the hecc is a and b?
    # normalized = (b - a) * ((value - min) / (max - min)) + a
    normalized = (value - min) / (max - min);
    return normalized


A = [1000, 765, 800]
B = [10, 5, 7]
C = [0.50, 0.35, 0.09]

arr = [A, B, C]

for el in arr:
    print("\narr:", el)
    # for int/float in list
    for i in el:
        norm = normalize(i, min(el), max(el))
        print("norm:", norm)

arr: [1000, 765, 800]
norm: 1.0
norm: 0.0
norm: 0.14893617021276595

arr: [10, 5, 7]
norm: 1.0
norm: 0.0
norm: 0.4

arr: [0.5, 0.35, 0.09]
norm: 1.0
norm: 0.6341463414634146
norm: 0.0

### Normalization, pandas

In [4]:
# Normalize 0-1
def normalize(df):
    result = df.copy()

    # For A, B, C
    for feature_name in df.columns:
        max_value = df[feature_name].max()
        min_value = df[feature_name].min()

        result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)

    return result

normalize(df)

          A    B         C
0  1.000000  1.0  1.000000
1  0.000000  0.0  0.634146
2  0.148936  0.4  0.000000

The result of both normalization techniques is the same.

### Normalization, sklearn

In [6]:
maxx = 1  # 255
x = df.values  # 3x3 numpy array

# Just get a handle to the min_max_scaler, I guess.
min_max_scaler = preprocessing.MinMaxScaler(feature_range=(0, maxx))

x_scaled = min_max_scaler.fit_transform(x)  # 3x3 numpy array

# Dataframe, normalized, 0-maxx
df = pd.DataFrame(x_scaled, columns=df.columns, index=df.index)
df

          A    B         C
0  1.000000  1.0  1.000000
1  0.000000  0.0  0.634146
2  0.148936  0.4  0.000000

In [7]:
s = df.A  # Get Series
s

0    1.000000
1    0.000000
2    0.148936
Name: A, dtype: float64