In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn import model_selection

#### A Gaussian Naive Bayes algorithm is a special type of NB algorithm.
#### It’s specifically used when the features have continuous values. It’s also assumed that all the features are following a gaussian distribution i.e, normal distribution.

In [4]:
import seaborn as sns

In [5]:
iris = sns.load_dataset("iris")

In [6]:
iris.head(7)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa

In [7]:
X= iris.drop("species", axis=1) #predictors
Y = iris["species"] #response

In [8]:
#split the data
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = .25, random_state=25) #25% hold out for testing

#### implement the default Gaussian NB function

In [9]:
gnb= GaussianNB()

In [10]:
gnb.fit(X_train, y_train)

GaussianNB(priors=None)

In [11]:
Y_pred = gnb.predict(X_test)

In [12]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, Y_pred)
confusion_matrix

array([[11,  0,  0],
       [ 0, 14,  2],
       [ 0,  1, 10]], dtype=int64)

In [13]:
from sklearn.metrics import accuracy_score

In [14]:
print accuracy_score(y_test, Y_pred)

0.921052631579

## Glass classification

In [15]:
glass=pd.read_csv("glassClass.csv")
glass.head(4)

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1

In [16]:
X= glass.drop("Type", axis=1) #predictors
Y = glass["Type"] #response

In [17]:
#split the data
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = .25, random_state=25) #25% hold out for testing

In [18]:
gnb2= GaussianNB()

In [19]:
gnb2.fit(X_train, y_train)

GaussianNB(priors=None)

In [20]:
Y_pred = gnb2.predict(X_test)

In [21]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, Y_pred)
confusion_matrix

array([[ 9,  0,  7,  0,  0,  0],
       [11,  3,  5,  3,  1,  0],
       [ 0,  0,  2,  0,  0,  0],
       [ 0,  2,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  3,  0],
       [ 1,  0,  0,  0,  0,  7]], dtype=int64)

In [22]:
print accuracy_score(y_test, Y_pred)

0.444444444444

### Multinomial NB: multinomial Naive Bayes classifier is suitable for classification with discrete features

In [23]:
from sklearn.naive_bayes import MultinomialNB

In [25]:
mnb = MultinomialNB()

In [26]:
mnb.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [27]:
Y_pred = mnb.predict(X_test)

In [28]:
confusion_matrix

array([[ 9,  0,  7,  0,  0,  0],
       [11,  3,  5,  3,  1,  0],
       [ 0,  0,  2,  0,  0,  0],
       [ 0,  2,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  3,  0],
       [ 1,  0,  0,  0,  0,  7]], dtype=int64)

In [29]:
print accuracy_score(y_test, Y_pred)

0.462962962963