In [1]:
import os
import sys

import cv2
import numpy as np
import pandas as pd

In [2]:
X_train = []
Y_train = []

image_size = 150

labels = ['glioma_tumor', 'meningioma_tumor', 'no_tumor', 'pituitary_tumor']

In [3]:
df = pd.DataFrame({'category': labels})
df

           category
0      glioma_tumor
1  meningioma_tumor
2          no_tumor
3   pituitary_tumor

In [4]:
counts = df['category'].value_counts()
counts

glioma_tumor        1
meningioma_tumor    1
no_tumor            1
pituitary_tumor     1
Name: category, dtype: int64

In [5]:
# TRAINING
for i in labels:
    folderPath = os.path.join('data/brain-tumor-classification-mri/Training', i)
    for j in os.listdir(folderPath):
        img = cv2.imread(os.path.join(folderPath, j))
        img = cv2.resize(img, (image_size, image_size))
        X_train.append(img)
        Y_train.append(i)

In [6]:
# TESTING
for i in labels:
    folderPath = os.path.join('data/brain-tumor-classification-mri/Testing', i)
    for j in os.listdir(folderPath):
        img = cv2.imread(os.path.join(folderPath, j))
        img = cv2.resize(img, (image_size, image_size))
        X_train.append(img)
        Y_train.append(i)

In [7]:
print("BEFORE:")
# print(f"X_train[0] value: {X_train[0]})  # multi-dimensional array
print(f"X_train[0] type: {type(X_train[0])}, shape: {X_train[0].shape}")
print(f"Y_train[0] type: {type(Y_train[0])}, value: {Y_train[0]}")

BEFORE:
X_train[0] type: <class 'numpy.ndarray'>, shape: (150, 150, 3)
Y_train[0] type: <class 'str'>, value: glioma_tumor

In [8]:
X_train = np.array(X_train)
Y_train = np.array(Y_train)

In [9]:
print("AFTER:")

print(f"X_train[0] type: {type(X_train[0])}, shape: {X_train[0].shape}")
print(f"Y_train[0] type: {type(Y_train[0])}, shape: {Y_train[0].shape}, value: {Y_train[0]}")

AFTER:
X_train[0] type: <class 'numpy.ndarray'>, shape: (150, 150, 3)
Y_train[0] type: <class 'numpy.str_'>, shape: (), value: glioma_tumor

In [10]:
# Create a Pandas DataFrame
df = pd.DataFrame(columns=labels)
df

Empty DataFrame
Columns: [glioma_tumor, meningioma_tumor, no_tumor, pituitary_tumor]
Index: []

In [11]:
try:
    df = pd.DataFrame(data=X_train)
except Exception as e:
    exc_type, exc_obj, exc_tb = sys.exc_info()
    print(exc_type, exc_obj, exc_tb.tb_lineno)

<class 'ValueError'> Must pass 2-d input. shape=(3264, 150, 150, 3) 2

In [12]:
df = pd.DataFrame(data=Y_train)
df

                    0
0        glioma_tumor
1        glioma_tumor
2        glioma_tumor
3        glioma_tumor
4        glioma_tumor
...               ...
3259  pituitary_tumor
3260  pituitary_tumor
3261  pituitary_tumor
3262  pituitary_tumor
3263  pituitary_tumor

[3264 rows x 1 columns]

In [13]:
counts = df.value_counts()
counts

meningioma_tumor    937
glioma_tumor        926
pituitary_tumor     901
no_tumor            500
dtype: int64