In [27]:
import pandas as pd
from sklearn import datasets  # imports datasets from scikit-learn
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor  # decision tree regression
from sklearn import metrics
import numpy as np

In [3]:
# import json
# from sklearn import datasets  # imports datasets from scikit-learn
# from sklearn.model_selection import train_test_split
# from sklearn import model_selection
# from sklearn.tree import DecisionTreeRegressor  # decision tree regression
# from sklearn.metrics import accuracy_score

In [5]:
# data = datasets.load_boston()  # loads Boston dataset from datasets library
# parsed = json.loads(data)
# print(json.dumps(parsed, indent=4, sort_keys=True))


# def pp_json(json_thing, sort=True, indents=4):
#     if type(json_thing) is str:
#         print(json.dumps(json.loads(json_thing), sort_keys=sort, indent=indents))
#     else:
#         print(json.dumps(json_thing, sort_keys=sort, indent=indents))
#     return None


# pp_json(data)

# data

In [7]:
# define the data/predictors as the pre-set feature names
X = pd.DataFrame(data.data, columns=data.feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
# Put the target (housing value -- MEDV) in another DataFrame
Y = pd.DataFrame(data.target, columns=["MEDV"])
# data.target
Y.head()

   MEDV
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [9]:
# SPLIT THE DATA

# 25% hold out for testing
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=.25, random_state=25)

print('\nX_train\n')
print(X_train)
print('\nX_test\n')
print(X_test)
print('\ny_train\n')
print(y_train)
print('\ny_test\n')
print(y_test)

X_train

        CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS   RAD    TAX  \
112  0.12329   0.0  10.01   0.0  0.547  5.913   92.9  2.3534   6.0  432.0
100  0.14866   0.0   8.56   0.0  0.520  6.727   79.9  2.7778   5.0  384.0
161  1.46336   0.0  19.58   0.0  0.605  7.489   90.8  1.9709   5.0  403.0
490  0.20746   0.0  27.74   0.0  0.609  5.093   98.0  1.8226   4.0  711.0
199  0.03150  95.0   1.47   0.0  0.403  6.975   15.3  7.6534   3.0  402.0
..       ...   ...    ...   ...    ...    ...    ...     ...   ...    ...
317  0.24522   0.0   9.90   0.0  0.544  5.782   71.7  4.0317   4.0  304.0
143  4.09740   0.0  19.58   0.0  0.871  5.468  100.0  1.4118   5.0  403.0
474  8.05579   0.0  18.10   0.0  0.584  5.427   95.4  2.4298  24.0  666.0
318  0.40202   0.0   9.90   0.0  0.544  6.382   67.2  3.5325   4.0  304.0
132  0.59005   0.0  21.89   0.0  0.624  6.372   97.9  2.3274   4.0  437.0

     PTRATIO       B  LSTAT
112     17.8  394.95  16.21
100     20.9  394.76   9.42
161     14.7  374.43   1.73
490     20.1  318.43  29.68
199     17.0  396.90   4.56
..       ...     ...    ...
317     18.4  396.90  15.94
143     14.7  396.90  26.42
474     20.2  352.58  18.14
318     18.4  395.21  10.36
132     21.2  385.76  11.12

[379 rows x 13 columns]

X_test

         CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS   RAD    TAX  \
125   0.16902   0.0  25.65   0.0  0.581  5.986   88.4  1.9929   2.0  188.0
486   5.69175   0.0  18.10   0.0  0.583  6.114   79.8  3.5459  24.0  666.0
324   0.34109   0.0   7.38   0.0  0.493  6.415   40.1  4.7211   5.0  287.0
386  24.39380   0.0  18.10   0.0  0.700  4.652  100.0  1.4672  24.0  666.0
459   6.80117   0.0  18.10   0.0  0.713  6.081   84.4  2.7175  24.0  666.0
..        ...   ...    ...   ...    ...    ...    ...     ...   ...    ...
285   0.01096  55.0   2.25   0.0  0.389  6.453   31.9  7.3073   1.0  300.0
133   0.32982   0.0  21.89   0.0  0.624  5.822   95.4  2.4699   4.0  437.0
308   0.49298   0.0   9.90   0.0  0.544  6.635   82.5  3.3175   4.0  304.0
296   0.05372   0.0  13.92   0.0  0.437  6.549   51.0  5.9604   4.0  289.0
153   2.14918   0.0  19.58   0.0  0.871  5.709   98.5  1.6232   5.0  403.0

     PTRATIO       B  LSTAT
125     19.1  385.02  14.81
486     20.2  392.68  14.98
324     19.6  396.90   6.12
386     20.2  396.90  28.28
459     20.2  396.90  14.70
..       ...     ...    ...
285     15.3  394.72   8.23
133     21.2  388.69  15.03
308     18.4  396.90   4.54
296     16.0  392.85   7.39
153     14.7  261.95  15.79

[127 rows x 13 columns]

y_train

     MEDV
112  18.8
100  27.5
161  50.0
490   8.1
199  34.9
..    ...
317  19.8
143  15.6
474  13.8
318  23.1
132  23.0

[379 rows x 1 columns]

y_test

     MEDV
125  21.4
486  19.1
324  25.0
386  10.5
459  20.0
..    ...
285  22.0
133  18.4
308  22.8
296  27.1
153  19.4

[127 rows x 1 columns]

## Instantiate decision tree model (depth = 2)

If the maximum depth of the tree (controlled by the max_depth parameter) is set too high, overfitting may happen.

In [14]:
regressor = DecisionTreeRegressor(max_depth=2)

# FIT = Build a decision tree regressor from the training set (X, y).
regressor.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=2)

In [17]:
# predict Y values- 25% training data
Y_pred = regressor.predict(X_test)

Y_pred[0]

14.800000000000002

In [18]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, Y_pred)  # MSE

# ONLY GOOD FOR PYTHON 2 - ce n'est pas vrai

32.299068640612354

## Use cross-validation

When we can't split our data into training and testing sets

In [19]:
regression_tree = DecisionTreeRegressor(min_samples_split=30, min_samples_leaf=10, random_state=0)
regression_tree

DecisionTreeRegressor(min_samples_leaf=10, min_samples_split=30, random_state=0)

## Cross-validation: evaluating estimator performance

In [31]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import KFold

# crossvalidation = KFold(n=X.shape[0], n_folds=10, shuffle=True, random_state=1) # 10-fold CV

# class sklearn.model_selection.KFold(n_splits=’warn’, shuffle=False, random_state=None)
crossvalidation = KFold(n_splits=10, shuffle=True, random_state=1)  # 10 fold CV
crossvalidation

KFold(n_splits=10, random_state=1, shuffle=True)

In [22]:
regression_tree.fit(X, Y)

DecisionTreeRegressor(min_samples_leaf=10, min_samples_split=30, random_state=0)

In [33]:
# sorted(sklearn.metrics.SCORERS.keys())
sorted(metrics.SCORERS.keys())

# mean_squared_error
score = np.mean(cross_val_score(regression_tree, X, Y, scoring='neg_mean_squared_error', cv=crossvalidation, n_jobs=1))

# 10-fold CV based MSE

In [34]:
print("Mean squared error: %.3f" % abs(score))

Mean squared error: 20.107

## Decide on the depth

In [36]:
for depth in range(1, 10):
    regression_tree2 = DecisionTreeRegressor(min_samples_split=30, min_samples_leaf=10, random_state=0)

    if regression_tree2.fit(X, Y).tree_.max_depth < depth:
        break
        score = np.mean(cross_val_score(tree_classifier, X, Y, scoring="mean_squared_error", cv=crossvalidation, n_jobs=1))

    print("Depth: %i Accuracy: %.3f" % (depth, score))

Depth: 1 Accuracy: -20.107
Depth: 2 Accuracy: -20.107
Depth: 3 Accuracy: -20.107
Depth: 4 Accuracy: -20.107
Depth: 5 Accuracy: -20.107
Depth: 6 Accuracy: -20.107
Depth: 7 Accuracy: -20.107
Depth: 8 Accuracy: -20.107
Depth: 9 Accuracy: -20.107