## Section 6, Lecture 12

Like RandomForest.ipynb

Some common examples of supervised learning include spam filters, fraud detection systems, **recommendation engines**, and image recognition systems.

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
from sklearn import datasets  # imports datasets from scikit-learn
from sklearn.model_selection import train_test_split

In [2]:
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)

data = datasets.load_boston() # loads Boston dataset from datasets library

In [3]:
# define the data/predictors as pre-set feature names  
X = pd.DataFrame(data.data, columns=data.feature_names)

X.head(6)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21

### MEDV

Median value of owner-occupied homes in $1000's

In [4]:
# Put the target (housing value -- MEDV) in another DataFrame
Y = pd.DataFrame(data.target, columns=["MEDV"])

# Continuous numerical variable
Y.head(6)

   MEDV
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2
5  28.7

In [5]:
# split the data
# Use 20% for testing.
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=.2, random_state=20)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((404, 13), (102, 13), (404, 1), (102, 1))

## Random forest regression

In [6]:
from sklearn.ensemble import RandomForestRegressor

# instantiate decision tree model (depth = 2)
regressor = RandomForestRegressor(max_depth=2, random_state=0)

In [19]:
# Fit regression model onto these stuffs.

# Training predictors, Target training values
# regressor.fit(X_train, y_train)

# model = forest.fit(train_fold, train_y.values.ravel())
regressor.fit(X_train, y_train.values.ravel())

RandomForestRegressor(max_depth=2, random_state=0)

### Explanation:

`.values` will give the values in a numpy array (shape: (n,1))

`.ravel` will convert that array shape to (n, ) (i.e. flatten it)

In [20]:
importance = regressor.feature_importances_  # RF based predictor variable importance

importance.size

13

## Python sorting with [::-1]

```python
indices = np.argsort(importance)[::-1]
```

In Python, the `[::-1]` syntax is used to reverse a sequence, such as a list, tuple, or NumPy array. 

The `[::-1]` part is used to sort the `importance` array in descending order and then return the indices that would sort the array in that order. This means that `indices` will contain the indices of the elements in `importance` sorted in descending order of importance.

For example, if `importance` is the array `[0.2, 0.8, 0.5, 0.3]`, then `np.argsort(importance)` would return `[0, 3, 2, 1]`, which are the indices that would sort the array in ascending order.

Adding `[::-1]` at the end would reverse this result to `[1, 2, 3, 0]`, which are the indices that would sort the array in descending order. Therefore, `indices` will be `[1, 2, 3, 0]`.

In [21]:
indices = np.argsort(importance)[::-1]  # See above explanation.

for f in range(X.shape[1]):
    print('%d. feature %d (%f)' % (f + 1, indices[f], importance[indices[f]]))

1. feature 12 (0.522513)
2. feature 5 (0.465931)
3. feature 4 (0.005214)
4. feature 0 (0.004319)
5. feature 7 (0.002023)
6. feature 11 (0.000000)
7. feature 10 (0.000000)
8. feature 9 (0.000000)
9. feature 8 (0.000000)
10. feature 6 (0.000000)
11. feature 3 (0.000000)
12. feature 2 (0.000000)
13. feature 1 (0.000000)

In [22]:
X.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

## Prediction

In [34]:
# predict Y values- 20% training data
Y_pred = regressor.predict(X_test)

print(Y_pred[:5])
print(X_test.shape)  # (102, 13)

[21.23192259 21.96976697 20.43144265 14.99328599 14.81346832]
(102, 13)

In [24]:
from sklearn.metrics import mean_squared_error

# Actual house prices (these weren't used for model building)
# Predicted values of house prices

mean_squared_error(y_test, Y_pred)

19.663880229161606

In [25]:
from sklearn.metrics import r2_score

# Tests the association between the actual prices and the predicted prices.
r2_score(y_test, Y_pred)

0.6946860227365617

In [26]:
X.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03

### LSTAT

% lower status of the population

### RM

average number of rooms per dwelling

In [38]:
# Let's work with our predictors (See section on indices/importance)
X1 = X[["RM", "LSTAT"]]
X1.head()
# X1.shape  # (506, 2)

      RM  LSTAT
0  6.575   4.98
1  6.421   9.14
2  7.185   4.03
3  6.998   2.94
4  7.147   5.33

In [36]:
Y1 = pd.DataFrame(data.target, columns=["MEDV"])  # Y = house price

# Y1 = pd.DataFrame(data.data, columns=["MEDV"])  # No.

In [29]:
# Use 20% for testing.
X1_train, X1_test, y_train1, y_test1 = train_test_split(X1, Y1, test_size=.2, random_state=20)

X1_train.shape, X1_test.shape, y_train1.shape, y_test1.shape

((404, 2), (102, 2), (404, 1), (102, 1))

In [39]:
import sys

try:
    """
    RandomForestRegressor
    TODO: why is it still expecting 13?
    """
    forest = RandomForestRegressor(max_depth=2, random_state=0)
    forest.fit(X1_train, y_train1.values.ravel())

    print(X1_test.shape)
    Y1_pred = regressor.predict(X1_test)

    mean_squared_error(y_test1, Y1_pred)

    print(regressor.feature_importances_)
except Exception as e:
    exc_type, exc_obj, exc_tb = sys.exc_info()
    print("\nType", exc_type)
    print("\nErr:", exc_obj)
    print("\nLine:", exc_tb.tb_lineno)

(102, 2)

Type <class 'ValueError'>

Err: X has 2 features, but RandomForestRegressor is expecting 13 features as input.

Line: 12